google-generativeai
fastapi
sqlalchemy
uvicorn
mysql-connector-python
itsdangerous
beautifulsoup4
python-multipart
opencv-python
werkzeug
ipython
diffusers
invisible_watermark
transformers
accelerate
safetensors