.tabContainer{
    padding: 0 10px;
    height: 40px;
    display: flex;
    align-items: center;
}

.tabContainer.active{
    background-color: #262732;
}

.tabContainer:hover{
    background-color: #262732;
    cursor: pointer;
}

.tabName{
    font-size: 17px;
    color: #fff
}