@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Inter', sans-serif;
}

*:focus {
    outline: none;
    border: none;
}

h1, h2, h3 {
    font-family: 'Lexend Deca', sans-serif;

}

nav header {
    max-width: 100vw !important;
}

.gradient-bg {
    background: linear-gradient(135deg, hsl(69, 78%, 93%) 0%, hsla(22, 94%, 93%, 1) 50%, hsla(333, 60%, 97%, 1) 100%);
}

.dark .gradient-bg {
    background: linear-gradient(90deg, hsla(69, 78%, 93%, 1) 0%, hsla(68, 80%, 4%, 1) 0%, hsla(23, 95%, 8%, 1) 50%, hsla(333, 61%, 10%, 1) 100%);
}

.tiptap {
    outline: none;

    &:focus {
        outline: none;
    }

    > * + * {
        margin-top: 0.75em;
    }

    ul,
    ol {
        padding: 0 1rem;
    }

    ul {
        list-style-type: disc;
    }

    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5em;
    }
}

.tippy-box {

}

/* 
button.floating-menu-button {
    2px thick rounded borders;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 0px;
    text-align: left;
    padding:
} */

button.floating-menu-button:focus {
    background: black;
    color: white;
} */

.question-node{
    width: 95%;
}


.question-node label {
    /* font-weight: bold; */
    margin-bottom: 0.4rem;
}

button.gradient-bg {
    transition: filter 0.15s ease-in-out;
}

button.gradient-bg:hover {
    filter: brightness(1);
}

.h-sidebar {
    max-height: calc(100vh - 136px);
}

#clear-border {
    border: none !important;
    outline: none !important;
}

#clear-border:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}