.newPageCloseBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebarContainer{
    height: calc(100vh - 65px);
    width: 60px;
    transition: all 0.15s ease-in-out; 
}

.sidebarContainer.sidebarOpen{
    width: 220px !important;
    flex-shrink: 0;
}

.closeBtnContainer{
    display: flex;
    justify-content: flex-end;
}

.closeBtnContainer:hover{
    cursor: pointer;
}

.svgLogo{
    margin-right: 6px;
    fill: white
}

.svgLogo:hover{
    cursor: pointer;
}

.editorMenu {
    cursor: pointer; 
}