.tabContainer{
    padding: 0 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.tabContainer.active{
    background-color: #262732 !important 
}

.tabContainer:hover{
    background-color: #262732 !important;
    cursor: pointer;
}
